In [2]:
!which python

/home/ubuntu/anaconda3/envs/myenv/bin/python

In [3]:
import pandas as pd
import os

In [4]:
!pwd

/rds/prj_ppn_ar_group/Tao/ohsn/ohsn/time_series

In [10]:
# path = '/home/jovyan/work/ohsn/ohsn/time_series/'
path = '/home/ubuntu/rds/prj_ppn_ar_group/Tao/ohsn/ohsn/time_series/'

In [11]:
# !cd $path && ls -l data
# # !cd data/ && ls -l wwwpeereff_*.csv
# !head -n 5 /home/jovyan/work/ohsn/ohsn/time_series/data/wwwpeereff_0.csv

In [12]:
def combine_csv(input_dir, output_file):
    # List to hold DataFrames
    dfs = []
    
    # Iterate through all CSV files in the input directory
    for i in range(1000):
        file_path = os.path.join(input_dir, f'wwwpeereff_{i}.csv')
        if os.path.exists(file_path):
            # Read the CSV file and append the DataFrame to the list
            df = pd.read_csv(file_path)
            # print(f"Reading {file_path} with shape {df.shape}")
            # if df.shape[1] != 99:
                # print(f"Warning: {file_path} does not have 99 columns, it has {df.shape[1]} columns.")
            dfs.append(df)
        else:
            print(f"File {file_path} does not exist.")
    
    # Concatenate all DataFrames in the list into a single DataFrame
    combined_df = pd.concat(dfs, ignore_index=True)
    
    # Write the combined DataFrame to a new CSV file
    combined_df.to_csv(output_file, index=False)

In [13]:
combine_csv(path + 'data', path + 'data/combined_wwwpeereff.csv')

In [21]:
# df = pd.read_csv(path + 'data/peereff.csv')
# com = pd.read_csv(path + 'data/fed.com.csv')
df = pd.read_csv(path + 'data/combined_wwwpeereff.csv')
com = pd.read_csv(path + 'data/www.newcom.csv')

In [22]:
# df = pd.read_csv(path + 'data/wwwpeereff_1.csv')

In [23]:
df['friends_ratio'].describe()

count    70802.000000
mean         1.971653
std         34.695525
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max       3590.000000
Name: friends_ratio, dtype: float64

In [24]:
df['obs_rate'] = df['fnum']/df['friends_count']

In [25]:
df['obs_rate'].describe()

/home/ubuntu/anaconda3/envs/myenv/lib/python3.12/site-packages/pandas/core/nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)

count    7.080200e+04
mean              inf
std               NaN
min      3.999824e-06
25%      5.910165e-04
50%      1.168224e-03
75%      2.808989e-03
max               inf
Name: obs_rate, dtype: float64

In [27]:
df[df['obs_rate']>0.5].shape

(173, 100)

In [11]:
com.head()

,id,level,posemo,negemo,ingest,bio,body,health,death,anx,...,scalem,N,timeline_count,friends_count,followers_count,statuses_count,active_day,followers_day,friends_day,statuses_day
0,927795600,1,0.050842,0.038545,0.027209,0.048051,0.008721,0.010378,0.003401,0.004012,...,0.087204,1055,NaN,NaN,NaN,NaN,580.0,2.717241,2.317241,4.277586
1,2187938209,1,0.061132,0.053560,0.018284,0.061779,0.020501,0.016253,0.007572,0.002216,...,-0.191561,1493,NaN,NaN,NaN,NaN,816.0,0.383578,0.582108,4.040441
2,3168148080,1,0.027508,0.024595,0.046926,0.067961,0.017799,0.016828,0.001294,0.001618,...,-0.203252,246,NaN,NaN,NaN,NaN,257.0,0.669261,0.556420,7.501946
3,569266852,1,0.044760,0.041655,0.021771,0.052737,0.015326,0.013243,0.002436,0.004873,...,-0.179454,1538,NaN,NaN,NaN,NaN,177.0,1.531073,1.689266,9.796610
4,2920121289,1,0.025366,0.043543,0.044628,0.089528,0.030250,0.022925,0.002849,0.004476,...,-0.521236,518,NaN,NaN,NaN,NaN,425.0,0.428235,0.327059,2.143529

In [ ]:
timeline_count