In [1]:
!which python

/opt/conda/bin/python

In [3]:
import pandas as pd

In [8]:
path = '/home/jovyan/work/ohsn/ohsn/time_series/'
df = pd.read_csv(path + 'data/peereff.csv')
com = pd.read_csv(path + 'data/fed.com.csv')

In [9]:
df.shape

(2897, 96)

In [10]:
df.head()

,Unnamed: 0,id,timeline_count,friends_count,followers_count,statuses_count,affect,posemo,negemo,bio,...,ffavg_scalem,ffavg_posm,ffavg_negm,ffavg_level,ffavg_active_day,ffavg_posemor,ffavg_negemor,ffavg_emor,fnum,ffnum
0,0,927795600,NaN,NaN,NaN,NaN,0.089736,0.050842,0.038545,0.048051,...,0.002530,1.707092,-1.704562,1.631413,NaN,NaN,NaN,NaN,1042,38162
1,1,2187938209,NaN,NaN,NaN,NaN,0.115338,0.061132,0.053560,0.061779,...,-0.071897,1.654518,-1.726415,1.610989,NaN,0.529719,0.464574,0.065146,300,4987
2,2,3168148080,NaN,NaN,NaN,NaN,0.052104,0.027508,0.024595,0.067961,...,-0.067372,1.635667,-1.703039,1.812475,NaN,NaN,NaN,NaN,101,2485
3,3,569266852,NaN,NaN,NaN,NaN,0.086611,0.044760,0.041655,0.052737,...,0.099700,1.778612,-1.678911,1.678037,NaN,0.574846,0.419044,0.155803,227,9762
4,4,2920121289,NaN,NaN,NaN,NaN,0.068909,0.025366,0.043543,0.089528,...,-0.031051,1.688543,-1.719593,1.606834,NaN,NaN,NaN,NaN,98,2546

In [11]:
com.head()

,id,level,posemo,negemo,ingest,bio,body,health,death,anx,...,scalem,N,timeline_count,friends_count,followers_count,statuses_count,active_day,followers_day,friends_day,statuses_day
0,927795600,1,0.050842,0.038545,0.027209,0.048051,0.008721,0.010378,0.003401,0.004012,...,0.087204,1055,NaN,NaN,NaN,NaN,580.0,2.717241,2.317241,4.277586
1,2187938209,1,0.061132,0.053560,0.018284,0.061779,0.020501,0.016253,0.007572,0.002216,...,-0.191561,1493,NaN,NaN,NaN,NaN,816.0,0.383578,0.582108,4.040441
2,3168148080,1,0.027508,0.024595,0.046926,0.067961,0.017799,0.016828,0.001294,0.001618,...,-0.203252,246,NaN,NaN,NaN,NaN,257.0,0.669261,0.556420,7.501946
3,569266852,1,0.044760,0.041655,0.021771,0.052737,0.015326,0.013243,0.002436,0.004873,...,-0.179454,1538,NaN,NaN,NaN,NaN,177.0,1.531073,1.689266,9.796610
4,2920121289,1,0.025366,0.043543,0.044628,0.089528,0.030250,0.022925,0.002849,0.004476,...,-0.521236,518,NaN,NaN,NaN,NaN,425.0,0.428235,0.327059,2.143529

In [ ]:
timeline_count